@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .page-node-type-team-member{
    .layout-content__inner{
      padding-top: 12rem;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .page-node-type-team-member{
    .layout-content__inner{
      padding-top: 12rem;
    }
    .field--name-dynamic-token-fieldnode-naam-team{
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    .field--name-field-team-e-mail{
      padding-bottom: 3rem;
    }
    .field--name-field-team-functie{
      font-size: 1.8rem;
    }
    img{
      width: 100%;
      height: auto;
    }
    .field--name-body{
      width: 100%;
    }
  }
}
